.card {
  box-sizing: border-box;
}

.card__image {
  height: 413px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121;
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    width: 100%;
  }

  .card:last-child {
    margin-bottom: 20px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }

  .card__image {
    height: 288px;
    margin: 0;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
