.card {
  box-sizing: border-box;
}

.card__image {
  height: 413px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121;
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  padding: 0;
  cursor: pointer;
}

.card__like-button:hover {
  color: #212121;
  opacity: 100%;
}

.card__like-button_liked {
  background-image: url(../images/liked_heart.png);
  opacity: 100%;
}

.card__like-button_liked:hover {
  background-image: url(../images/liked_heart-hover.png);
}

.card__delete-button {
  background: transparent url(../images/delete_default.png) center no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  margin-left: 371px;
}

.card__delete-button:hover {
  background-image: url(../images/delete_hover.png);
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    width: 100%;
  }

  .card:last-child {
    margin-bottom: 20px;
  }

  .card__like-button {
    min-width: 23px;
    min-height: 20px;
    width: 20px;
    height: 18px;
  }

  .card__delete-button {
    margin-left: 246px;
  }

  .card__image {
    height: 288px;
    margin: 0;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .card {
    max-width: 90vm;
  }
}
