.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 60px 0;
  position: sticky;
}

.footer__copyright {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}
