.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  background: transparent url(../images/closeicon.svg) center no-repeat;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: #212121;
  opacity: 40%;
  border: none;
}

.modal__close-btn:hover {
  cursor: pointer;
  color: #212121;
  opacity: 100%;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  background: transparent url(../images/closeicon_white.svg);
  opacity: 100%;
}

.modal__close_type_preview:hover {
  cursor: pointer;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.4);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 90vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: fixed;
  line-height: 1;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 0;
  max-height: 28px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
    border-radius: 8px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal_image {
    max-width: unset;
  }
}
