.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: 100%;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

@media screen and (max-width: 627px) {
  .page {
    padding: 0;
    box-sizing: border-box;
  }

  .page__section {
    width: 288px;
    max-width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .page_content {
    margin: 0px;
  }
}
