.profile {
  display: flex;
  padding: 34px 0 20px;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  max-width: 420px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.profile__description {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 16px;
  max-width: 413px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.profile__edit-btn {
  display: flex;
  justify-content: start;
  gap: 8px;
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 70%;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}

.profile__add-btn {
  display: flex;
  align-self: end;
  gap: 8px;
  padding: 18px 24px;
  margin-left: auto;
  height: 52px;
  width: 149px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
  transition: 0.5s ease;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    padding: 0;
  }

  .profile__edit-btn {
    margin: 0 0 20px;
    padding: 0;
    justify-content: center;
  }

  .profile__add-btn {
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    justify-content: center;
  }
}
